body {
    min-width:250px;
    min-height:350px;
    background-color:powderblue;
    font-family: 'Quicksand', sans-serif;
}
.collectionDailyWeather::-webkit-scrollbar {
	width: 8px;
    height: 8px;
	background-color: #F5F5F5;
}
.collectionDailyWeather::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 8px;
	background-color: #F5F5F5;
}
.collectionDailyWeather::-webkit-scrollbar-thumb {
    border-radius: 8px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.split.bottom::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent;
	border-radius: 10px;
}

.split.bottom::-webkit-scrollbar{
	width: 15px;
    background-color: transparent;
}

.split.bottom::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

.weatherPic {
    white-space:nowrap;
    overflow:hidden;
    display: inline-block;
    width: 30px;
    height: auto;
}

.weatherIcon {
    width:80%;
    height:auto;
}
.centered {
    position:absolute;
    left:10%;
    text-align:center;

}
.information {
    height:100%;
    vertical-align:middle;
    text-align:center;
}
.hourlyData {
    overflow:auto;
    overflow-y:auto;
}
.collectionDailyWeather {
    clear: left;
    overflow: auto;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.dailyWeatherHour{
    display: inline-block;
    padding:8px;
    text-align:center;
}
.split {
    height: 35%;
    width:50%;
    padding-top:5%;
    position:fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}
.left {
    left: 0;
}
.right {
    right: 0;
}
.center {
    padding-top:0%;
    padding-bottom: 2%;
    top: 40%;
    width:100%;
    height:5%;
}
.bottom {
    padding-top:0%;
    width:100%;
    top:48%;
    height:50%;
}
.dailyLeft {
    display: 'inline-block';
    float: left;
    width: 33%;
    text-align: left;
}
.dailyCenter {
    float: left;
    width: 33%;
    text-align: center;
}
.dailyRight {
    float: left;
    width: 33%;
    text-align: left;
}
